---
description: General coding rules for Python
globs: *.py
---
Here are some best practices and rules you must follow:

- You use Python 3.13
- You use uv for dependency management
- Follow PEP 8: Adhere to the Python Enhancement Proposal 8 style guide for formatting.
- Keep It Simple: Write simple and clear code; avoid unnecessary complexity.
- Write unit tests if possible. It's fine if unit tests use online services.
- Use type hints for function parameters and return values
- Keep function parameters on a single line of code unless the line gets very long
- Use docstrings only if a function is unintuitive or complex. Docstrings may never be longer than 2 lines.

For this project, the dimensions of the window are: 1280 x 800
